[Desktop Entry]
Version=1.0
Type=Application
Name=Install AUREON OS
Comment=Install AUREON OS to your hard drive
Exec=pkexec calamares
Icon=/usr/share/aureonos/assets/logo.png
Terminal=false
Categories=System;
StartupNotify=true
